body {
  margin: 0;
}

h2 {  
  color: #fff5f0 !important;
  font-family: Arial, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recharts-cartesian-axis-tick-value {
  /* margin: 100px !important; */
  transform: translate(-0.1rem, 0.5rem);
}

:root { 
  /* background-image: url(./images/coin3.png); */
  background-color: #f2f3f4;
}

.logo {
  height: auto;
  width: 200px;
}

.btn, tableNavButton {
  filter: brightness(70%);
}
.content { 
  background-image: url(./images/coin3.png);
  background-color: #444444;
  padding: 7%;
  height: 100vh;
  font-size: 0.8vw;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 1800px) {
  .content { 
    font-size: 1vw;
  }
}

@media screen and (max-width: 1400px) {
  .content { 
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 800px) {
  .content { 
    font-size: 1.7vw;
  }
}

.routing {
  background-color: #2b2b2b;
  padding: 20px;
}

.radio-item {
  display: none;
}

div.dropdown {
  background-color: white;
  border: 0.1px solid #999;
  color: black;
  font-size: 14px;
  border-radius: 6px;
  padding: 0 !important;
}

.tag-remove {
  visibility: hidden;
}

.tag-item .search {
  border: none;
  border-bottom: none !important;
}

.dropdown-trigger {
  height: 30px !important;
  overflow: hidden !important;
}

.dropdown-content {
  padding: 15px !important;
  max-height: 60vh;
  overflow-y: scroll !important;
}

.react-dropdown-tree-select .dropdown .dropdown-trigger {
  border: none !important;
  padding: 1px !important;
}

.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom::after {
  box-sizing: border-box;
  content: "▾" !important;
  font-weight: bold;
}

.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top::after {
  box-sizing: border-box;
  content: "▴" !important;
  font-weight: bold;
}

.dropdown-trigger.arrow.bottom::after, .dropdown-trigger.arrow.top::after {
  float: right;
  top: 7px;
  position: relative;
}

.dropdown-trigger {
  min-width: 297px;
  max-width: 297px;
}